.ProductList {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
  flex-wrap: wrap;
}

.ProductList .Product {
  /* border: 1px solid #ccc; */
  margin: 20px;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  background-color: #eee;
}

.ProductList .Product h2 {
  margin: 0;
  padding:10px;
  background-color: #85B24F;
  color:white;
  text-align: center;
  font-size: 2rem;
  line-height: 60px;
}

.ProductList .Product h3 {
  text-align: center;
  font-size: 1.5rem;
}

.ProductList .Product .buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.ProductList .Product .buttons button {
  padding: 6px 12px;
  outline: none;
  font-weight: 100;
  margin-right: 6px;
  font-size: 1.5rem;
  border: none;
  background-color: rgba(0,0,0,0);
}

.ProductList .Product .buttons button:hover {
  color: white;
  background-color: #85B24F;
}
